#three-box{

	figure{
		padding-top: 5%;
		padding-bottom: 5%;
	}

	article{
		padding-top: 5%;
		color: #148ca1;
		font-size: 18px;

		span{
			font-size: 20px;
			font-weight: bold;
		}
	}
	.gray{
	    background-color: #eaeaea;
	}
}